/*
color palette:

#cafafe
#55bcc9
#fc4445
#343a40
#fff

*/



/*BACKGROUND*/

body {
	background-color: #cafafe;
}

/*PAGE INTRO*/

/*page header and sub-header settings*/
h1, h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: right;
	padding-right: 1em;
}

h1 {
	font-size: 6em;
	color: #fc4445;
}

h3 {
	font-family: 'Work Sans', sans-serif;
}

#welcome_window p {
	font-family: 'Work Sans', sans-serif;
	font-size: 2em;
	text-align: justify;
	background: -webkit-linear-gradient(#55bcc9, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#welcome_window {
	padding-top: 200px;
	padding-bottom: 100px;
}

.intro-paragraph {
	margin: 10%;
	max-height: 10%;
}

.bg-dark {
	background-color: black!important;
	opacity: 0.5;
}

/*NAVBAR*/

/*hand pointing down*/
.point_down {
	font-size: 4em;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 200px;

}

/*navbar color*/
.footer_color {
	color: #333;
}

.navbar-brand {
	color: #fc4445!important;
	font-family: 'Montserrat', sans-serif;

}

.glyphicon {
	color: #fc4445;
}




/*navbar center and font*/
.navbar {
	font-family: 'Work Sans', sans-serif;
}


/*BODY*/

/*spacing*/
#about_section {
	/* padding-top:100px; */
	padding-bottom: 200px;
}

/* #portfolio_section {
	padding-top:100px;
	padding-bottom: 200px;
}

#contact_section {
	padding-top:100px;
	padding-bottom: 350px;
} */

.section_headline {
	padding-bottom: 100px;
}

.body_paragraphs {
	font-family: 'Work Sans', sans-serif;
	text-align: justify;
}

/*ABOUT*/



.pic_of_me {
	border-radius: 10px;
	margin: 0 auto;
	width: 100%;
}

.progress {
	border: solid 1px #55bcc9;
}

.progress-bar {
	background-color: #55bcc9;
}

.about_item {
	text-align: left;
	width: 100%;
	/* height: 600px; */
}

.about_items {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
	justify-items: center;
	margin: 0 3em 0 3em;
	grid-column-gap: 5%;
	grid-row-gap: 5%;
	font-family: 'Work Sans', sans-serif;
}

/* table {
	width: 200%;
} */

/*PORTFOLIO*/

.portfolio_text {
	margin-top: 1em;
	max-width: 272px;
}

.portfolio_pics {
	border-radius: 10px;
	max-width: 272px;
}

.portfolio_item {
	text-align: left;
	max-width: 300px;
	height: 600px;
}

.portfolio_items {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
	justify-items: center;
	margin: 0 3em 0 3em;
	/* grid-column-gap: ;
	grid-row-gap: ; */
}

/*CONTACT*/

/*icon settings*/

.my_facebook, .my_email, .my_linkedin, .my_github{
	margin: auto auto 10px;
	width: 128px;
	height: 128px;
	display: block;
	border-radius: 15px;


}

/*contact regular and hover icons*/

.contact_item {
	text-align: left;
	width: 100%;
	/* height: 600px; */
}

.contact_items {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	justify-items: center;
	margin: 0 3em 0 3em;
	grid-column-gap: 10%;
	grid-row-gap: 20%;
	padding-top: 10%;
}

.my_email {
	background: transparent url("../images/icon_email.png") center top no-repeat;
}

.my_facebook {
	background: transparent url("../images/icon_facebook.png") center top no-repeat;
}

.my_linkedin {
	background: transparent url("../images/icon_linkedin.png") center top no-repeat;
}

.my_github {
	background: transparent url("../images/icon_github.png") center top no-repeat;
}

/*lighten up the black image to grey*/
.my_facebook, .my_linkedin, .my_email, .my_github {
	background-color: #55bcc9;
	background-blend-mode: color-dodge;
}

.my_facebook:hover, .my_linkedin:hover, .my_email:hover, .my_github:hover  {
	background-color: #fc4445;
	background-blend-mode: color-dodge;  /*this allows the color to change on hoover*/
}

.section_sepertor {
	min-height: 100vh;
	padding-top: 5%;
}

/* FOOTER */

.footer {
	background-color: black!important;
	opacity: 0.5;
	color: #fff;;
	font-family: 'Work Sans', sans-serif;
	height: 30px;
}
